.homeWrapper {
  font-family: sans-serif;
}

/* Hero */
.heroSection {
  background: url('../../Assets/hero-bg.png') center/cover;
  color: #ffffff;
display: flex;
justify-content: center;
/* align-items: center; */
  top:0px;
  width: 100svw;
  position: relative;
  height: 692px;
}

/* .heroOverlay{
    margin
} */
.heroOverlay h1{
    font-family: "Poppins", sans-serif;
    margin-top: 80px;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 135%;
    font-weight: 700;
}

.heroOverlay .subHeading{
    font-family: "inter", sans-serif;
font-size: 18px;
letter-spacing: 0px;
position: relative;
top: -10px;
    line-height: 135%;
    font-weight: 600;

}



.cardGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  /* padding-left: 20px;
  padding-right: 20px; */
  margin-top: 50px;
}


.ctaButtonParent{
    margin: 0 auto;
    margin-top: 40px;
    background: linear-gradient(to bottom, #3538CD, #C95FDA 150%);
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  width: 180px;
  height: 48px;  
}


.ctaButton {
  background: #101828;
  width: 178px;
  height: 46px;
  font-family: "inter";
  font-weight: 600;
  font-size: 16px;
  color: white;
  line-height: 150%;
  border: none;
  border-radius: 4px;
}

/* Phone Preview */
.phoneSection {
  padding: 3rem 2rem;
  color: black;
  min-height: 964px;
}



.phoneSectionTitle{
    font-weight: 700;
    color: #000;
    position: relative;
    font-family: "inter";
    font-size: 36px;
    line-height: 128%;
    letter-spacing: 0px;
    
}

.phoneText {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  top: 55px;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 50%; /* helps with centering */
  scroll-behavior: smooth; /* optional: adds smooth scroll */
}

.phoneText::-webkit-scrollbar {
  display: none;
}
.phoneText {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.leftButton{
  position: relative;
  left: calc(-1360px/2 - 100px);
  top: 350px;
  z-index: 100;
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins";
  background-color: transparent;
  border: none;

}

.rightButton{
  position: relative;
  left: calc(1360px/2 + 100px);
  z-index: 100;
  top: 350px;
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins";
  background-color: transparent;
  border: none;
}


.phoneContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.phoneImage {
  width: 300px;
  transform: rotate(-10deg);
}

.phoneText h2 span {
  background: limegreen;
  color: black;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.CarouselPhoto{
  position: relative;
  top: 16px;
  left: -10px;
}
.carouselComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding-bottom: 2rem;
  min-width: 100%; /* ensures each item takes full width */
  scroll-snap-align: center;
}

.carouselComponent {
  width: 1360px;
  flex-shrink: 0;
  scroll-snap-align: center;
}


.carouselText{
  width: 570px;
  text-align: left;
  position: relative;
  left: -20px;
}

.carouselTextHeader{
  display: flex;
  align-items: center;
  gap: 23px;
}

.carouselTextHeaderIndex{
  color: #000;
  font-family: "inter";
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7fed1e;
  padding: 0px 8px;
  width: 50px;
  height: 49px;
}
.carouselTextHeaderTitle{
font-family: "inter";
  font-weight: 700;
  font-size: 24px;
}


.carouselTextHeaderContent{
  position: relative;
  top: -20px;
  font-family: "Inter";
font-weight: 400;
font-size: 17.5px;
line-height: 153%;
letter-spacing: 0px;

}

/* Footer */
.footer {
  background: linear-gradient(to right, #060327 70%, #280977);
  /* background-color: red; */
  color: white;
  display: flex;
  height: 327px;
  justify-content: space-evenly;
  text-align: center;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  left:-103px;
  align-items: baseline;
  width: 30%;
}


.footerLinksText{
text-decoration: none;
font-family: "poppins";
font-size: 14px;
line-height: 150%;
width: 25%;
  color: #fff;
  text-align: left;
}
.footerLinksTextBottom{
  text-decoration: none;
  font-weight: 500;
font-family: "poppins";
font-size: 14px;
position: relative;
top: 9px;
left: 10px;
line-height: 150%;
  color: #fff;
  text-align: left;
}

.footerLinksTextBottom span{
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.links{
  display: flex;
  gap: 40px;
  width: 496px;
  flex-wrap: wrap;
}

.socials{
  display: flex;
  position: relative;
  top: -47px;
  right: -135px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.iconConatiner{
  display: flex;
  gap: 8px;
  position: relative;
  top: 12px;
  left: -42px;
}
.socials span {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
